In [1]:
import pandas as pd

In [163]:
df= pd.read_excel('teste.xlsx')

In [171]:

df[df.cpf==1]

          data  mês  cpf  vlr
0   2019-01-01    1    1  459
12  2019-01-13    1    1  439
27  2019-01-28    1    1  456
43  2019-02-13    2    1  409
55  2019-02-25    2    1  418
70  2019-03-12    3    1  414
86  2019-03-28    3    1  456
98  2019-04-09    4    1  438
113 2019-04-24    4    1  453
129 2019-05-10    5    1  426
141 2019-05-22    5    1  432
156 2019-06-06    6    1  427
231 2019-02-02    2    1  432
243 2019-04-25    4    1  415
258 2019-05-10    5    1  458

In [165]:
cpfs=list(df.cpf.unique())

In [166]:
len(cpfs)

82

In [167]:
def ult_3_qtd(x):
    if x['mês'] <=5 & x['mês']>3:
        r= 1
    else:
        r= 0
    return r

def ult_3_vlr(x):
    if x['ult_3_qtd'] ==1:
        r= x['vlr']
    else:
        r= 0
    return r

def ult_0_qtd(x):
    if x['mês'] ==5:
        r= 1
    else:
        r= 0
    return r

def ult_0_vlr(x):
    if x['ult_0_qtd'] ==1:
        r= x['vlr']
    else:
        r= 0
    return r

In [177]:
f

   mês  cpf  vlr  ult_3_qtd  ult_3_vlr  ult_0_qtd  ult_0_vlr
0    1    1  518          0          0          0          0

In [175]:
lista=[]
for i in cpfs:
    base_aux=df[df.cpf==i]
    d=base_aux[['mês','cpf']].groupby(by='mês').count().reset_index()
    e=base_aux[['mês','vlr']].groupby(by='mês').sum().reset_index()
    f=pd.merge(d,e,how='left')

    f['ult_3_qtd'] = f.apply(ult_3_qtd,axis=1)
    f['ult_3_vlr'] = f.apply(ult_3_vlr,axis=1)

    f['ult_0_qtd'] = f.apply(ult_0_qtd,axis=1)
    f['ult_0_vlr'] = f.apply(ult_0_vlr,axis=1)

    
    a1=f['mês'].count()
    a2=f['cpf'].sum()
    a3=f['vlr'].sum()
    a4=f['ult_3_qtd'].sum()
    a5=f['ult_3_vlr'].sum()
    a6=f['ult_0_qtd'].sum()
    a7=f['ult_0_vlr'].sum()

    fim = pd.DataFrame({'cpf': [i],
                        'qtd_mes_total': [a1],
                        'qtd_total':[a2],
                        'vlr_total':[a3],
                        'ult_3_qtd':[a4],
                        'ult_3_vlr':[a5],
                        'ult_0_qtd':[a6],
                        'ult_0_vlr':[a7]})

    lista.append(fim)

In [178]:
fim

,cpf,qtd_mes_total,qtd_total,vlr_total,ult_3_qtd,ult_3_vlr,ult_0_qtd,ult_0_vlr
0,29,1,1,518,0,0,0,0

In [169]:
pd.concat(lista)

,cpf,qtd_mes_total,qtd_total,vlr_total,ult_3_qtd,ult_3_vlr,ult_0_qtd,ult_0_vlr
0,1,6,15,6532,2,2622,1,1316
0,2,6,15,6483,2,2657,1,1331
0,3,5,10,4292,2,2133,1,854
0,4,5,10,4254,2,2142,1,858
0,5,5,10,4346,2,2612,1,873
0,6,5,10,4396,2,2662,1,887
0,7,5,10,4269,2,2539,1,1300
0,8,6,15,6467,2,3440,1,1753
0,9,6,15,6388,2,3420,1,1727
0,10,6,15,6425,2,3433,1,1733
0,11,6,10,4312,2,2173,1,860
0,12,6,10,4335,2,2201,1,874
0,30,5,6,3224,2,1064,1,544
0,31,5,6,3163,2,1040,1,501
0,32,5,6,3109,2,1018,1,518
0,33,5,5,2653,2,1087,1,546
0,34,5,5,2676,2,1090,1,550
0,35,4,5,2626,1,1022,1,1022
0,36,4,5,2540,1,1018,1,1018
0,37,4,5,2658,1,1062,1,1062
0,38,4,6,3204,1,1592,1,1592
0,39,4,6,3150,1,1573,1,1573
0,40,4,6,3170,1,1580,1,1580
0,41,4,6,3098,1,1574,1,1574
0,42,4,6,3198,1,1602,1,1602
0,43,4,6,3114,1,1574,1,1574
0,173,1,1,550,0,0,0,0
0,174,1,1,509,0,0,0,0
0,175,1,1,521,0,0,0,0
0,176,1,1,530,0,0,0,0
...,...,...,...,...,...,...,...,...
0,199,1,1,508,0,0,0,0
0,200,1,1,524,0,0,0,0
0,201,1,1,544,0,0,0,0
0,202,1,1,512,0,0,0,0
0,203,1,1,532,0,0,0,0
0,204,1,1,541,0,0,0,0
0,205,1,1,539,0,0,0,0
0,206,1,1,519,0,0,0,0
0,207,1,1,537,0,0,0,0
0,208,1,1,536,0,0,0,0
0,209,1,1,509,0,0,0,0
0,210,1,1,517,0,0,0,0
0,211,1,1,535,0,0,0,0
0,212,1,1,510,0,0,0,0
0,14,1,1,501,0,0,0,0
0,15,1,1,479,0,0,0,0
0,16,1,1,454,0,0,0,0
0,17,1,1,504,0,0,0,0
0,18,1,1,504,0,0,0,0
0,19,1,1,469,0,0,0,0
0,20,1,1,455,0,0,0,0
0,21,1,1,485,0,0,0,0
0,22,1,1,520,0,0,0,0
0,23,1,1,452,0,0,0,0
0,24,1,1,511,0,0,0,0
0,25,1,1,441,0,0,0,0
0,26,1,1,532,0,0,0,0
0,27,1,1,510,0,0,0,0
0,28,1,1,522,0,0,0,0
0,29,1,1,518,0,0,0,0